@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@600;700&display=swap');

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-size: 100%;
}

body {
    font-size: 14px;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: blueviolet;
}

button {
    outline: none;
    border: none;
    display: block;
    padding-block: 16px;
    text-align: center;
}

h1, h2,
h3, h4 {
    margin: 0;
}

:root {
    --fnt-primary: 'Fraunces';
    --fnt-secondary: 'Montserrat';

    --primary-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --ntrl-d-blue: hsl(212, 21%, 14%);
    --ntrl-grayish: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    --fnt-bold: 700;
    --body-copy: 14px;
}

.big-heading {
    font-weight: var(--fnt-bold);
    font-size: 32px;
    line-height: 32px;
    font-family: var(--fnt-primary);
    margin-bottom: 1rem;
}

p {
    font-family: var(--fnt-secondary);
    font-size: var(--body-copy);
    color: var(--ntrl-grayish);
    line-height: 28px;
}

.capitalize {
    text-transform: uppercase;
    letter-spacing: 18px;
    font-family: var(--fnt-secondary);
    color: var(--ntrl-grayish);
    font-weight: 500;
    margin-bottom: 1rem;
}

.go-green {
    color: var(--primary-cyan);
    font-size: 32px;
    font-family: var(--fnt-primary);
    font-weight: 700;
}

.bg-green {
    background-color: var(--primary-cyan);
    width: 100%;
    font-weight: 700;
    font-family: var(--fnt-secondary);
    color: var(--white);
    border-radius: 8px;
}

.grid {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-cream);
}

.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.px-2 {
    padding-inline: 2rem;
}

.w-full {
    width: 100%;
}

.strike {
    text-decoration: line-through;
    font-family: var(--fnt-secondary);
    color: var(--ntrl-grayish);
    font-weight: 500;
}

.flex-it {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 1rem;
}

.px-1 {
    padding: 1rem;
}

.rounded {
    border-radius: 10px;
    overflow: hidden;
}

.bg-white {
    background-color: #FFFFFF;
}

.pricing {
    width: 100%;
}

.img-container {
    height: 250px;
    width: 100%;
    background-image: url('../images/image-product-mobile.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 780px) {
    .grid {
        flex-direction: row;
    }
    .img-container {
        height: inherit;
        background-image: url('../images/image-product-desktop.jpg');
        width: 50%;
    }

    .px-1 {
        padding: 2.5rem;
    }
    .desc {
        width: 50%;
    }
}